{% extends 'main.html.twig' %}

{% block title %}Puppy{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">

            {% include 'messages.html.twig' %}

            <form action="" method="post">
                <input type="text" placeholder="email" name="email"/>
                <input type="submit"/>
            </form>

        </div>
    </div>

{% endblock %}
