{% extends 'common.html.twig' %}

{% block content %}

        <div class="container">

            <h2>Fill the form</h2>

            {% include 'messages.html.twig' %}

            <form action="" method="post">
                <input type="text" placeholder="email" name="email"/>
                <input type="submit"/>
            </form>

        </div>

{% endblock %}
